.anchor {
    -fx-background-color: #1B2C3F;
    -fx-background-radius: 12px;
}

.cm {
    -fx-background-color: transparent;
}

.title-bar {
    -fx-background-color: #182636;
    -fx-background-radius: 12px 12px 0 0;
}

#title {
    -fx-font-family: "SF Pro Display", Serif;
    -fx-text-fill: ffc400;
    -fx-font-weight: 700;
}